# Boolean expressions

Python take the following values as False: False, 0, None, \[ \](empty list), " "(empty string).    
You can do the operations for comparsion: >, >=, <, <=, ==, !=, is, is not, in, not in.

# if-elif-else statement

In [1]:
x = 5
if x < 5:
    y = -1
    z = 5
elif x > 5:
    y = 1
    z = 11
else:
    y = 0
    z = 10
    
print(x, y, z)

5 0 10

Like the if else in R, the elif and else are optional. You can add many elif in the statement.

### pass

In [2]:
x = 5
if x == 5:
    pass
else:
    print(x)

# While

In [3]:
# Short notation
u, v, x, y = 0, 0, 100, 30
while x > y:
    u = u + y
    x = x - y
    if x < y + 2:
        v = v + x
        x = 0
    else:
        v = v + y + 2
        x = x - y - 2
        
print(u, v)

60 40

### Break

In [4]:
x = 5
while x > 0:
    if x != 3:
        print(x)
    else:
        break
    x = x - 1

5
4

In [5]:
x = 5 
while x > 0:
    if x == 3:
        x = x - 1
        print("Three is here!")
    else:
        print(x)
        x = x - 1

5
4
Three is here!
2
1

# for

### Continue (Like next in R)

In [6]:
item_list = [1, 2, "Hi", "Hello World", 5, 6, 15.5]
for x in item_list:
    if not isinstance(x, int):
        continue
    else:
        print(x)

1
2
5
6

### range

In [7]:
x = [1, 2, 3, -4, 5, -6, 7]
range(len(x))

range(0, 7)

In [8]:
for i in range(len(x)):
    if x[i] > 0:
        print(x[i])
    else:
        print(0)

1
2
3
0
5
0
7

In [9]:
# You can adjust three argument in range
# Start, end(not included), by
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [10]:
# List with tuple element
somelist = [(1, 2), (3, 7), (9, 5)]
result = 0
for x, y in somelist:
    result = result + (x * y)

result

68

### zip

In [11]:
x = [1, 2, 3, 4]
y = ['a', 'b', 'c']
z = zip(x, y)
# It will combine two variable together and make it as a tuple
# By doing so we can using the for loop with tuple as previous example
list(z)

[(1, 'a'), (2, 'b'), (3, 'c')]

### enumerate

In [12]:
for i, n in enumerate(x):
    if n > 0:
        print('Number:', n, 'Index:', i)
    else:
        print('Negative number here.', 'Index:', i)

Number: 1 Index: 0
Number: 2 Index: 1
Number: 3 Index: 2
Number: 4 Index: 3

### One line for loop: Comprehension

In [13]:
# key idea: for variable in list
x = [1, 2, 3, -4, 5, -6, 7]
x_positive = [i for i in x if i> 0]
# List
x_positive

[1, 2, 3, 5, 7]

In [14]:
x_square = {i:i ** 2 for i in x if i > 0}
x_square

{1: 1, 2: 4, 3: 9, 5: 25, 7: 49}

# Function

In [15]:
import numpy as np

Prime Number

In [16]:
# Function to check whether the number is prime
def prime_n(x):
    return sum(x % (np.arange(x) + 1) == 0) == 2

In [17]:
prime_n(1)

False

In [18]:
prime_n(2)

True

In [19]:
prime_n(11)

True

table function in R

In [20]:
# table
def table(a_list):
    counter = {}
    for value in a_list:
        add_occurrence(value, counter)
        
    return counter

# count the times of occurrence
def add_occurrence(value, counter):
    # add in code here
    if value in counter:
        counter[value] += 1
    else:
        counter[value] = 1

In [21]:
table(["a", "a", "b", "c", "a", "b"])

{'a': 3, 'b': 2, 'c': 1}

In [22]:
table([1, 2, 3, 1, 3, 5, 4])

{1: 2, 2: 1, 3: 2, 4: 1, 5: 1}