# 1. Operations

In [1]:
# Exponential
2 ** 10

1024

In [2]:
# Modulus
16 % 3

1

In [3]:
# Quotient
16 // 5

3

# 2. Data Type

* Integer

In [4]:
# The integer can be as large as you want.
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

* Complex

In [5]:
# Complex Number
x = 5 + 2j
x

(5+2j)

In [6]:
x.real

5.0

In [7]:
x.imag

2.0

* Boolean/Logical

In [8]:
x = True
not x

False

In [9]:
True or False

True

In [10]:
True and False

False

# 3. Data Structure

## a. List

In [11]:
# Its element can be integer, float, string... Also without any restriction
["two", [1, 2, 3, 4], (5, 6)]

['two', [1, 2, 3, 4], (5, 6)]

In [12]:
# Index
x = ["First", "Second", "Third", "Fourth"]

x[0]

'First'

In [13]:
x[1]

'Second'

In [14]:
x[-1]

'Fourth'

In [15]:
x[1:-1]

['Second', 'Third']

In [16]:
# x[m:n]: m is the inclusive starting point and n is the exclusive ending point
x[:3]

['First', 'Second', 'Third']

In [17]:
# Add, remove, replace...
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [18]:
x[0] = "two"
x

['two', 2, 3, 4, 5]

In [19]:
x[4:5] = [1, 2, 3, 4]
x

['two', 2, 3, 4, 1, 2, 3, 4]

### Method: len

In [20]:
# Function: len, reverse
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(x)

9

### Method: reverse

In [21]:
x.reverse()
x

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
# + and *
x.reverse()
# append 10, 11 to the last
x + [10, 11]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [23]:
# repeat the list twice
x * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# You can use type to check the data type or structure of an object
type(x)

list

### Method: sort

In [25]:
# Useful function sort
x = ["First", "Second", "Third", "Fourth"]

# Ordered by alphabetically
x.sort()
x

['First', 'Fourth', 'Second', 'Third']

In [26]:
# sort by function, by argument "key=fun"
x.sort(key=len)
x

['First', 'Third', 'Fourth', 'Second']

In [27]:
# Things should notice
a = [5]
x = [a, 1, 2, 6, 7]
x

[[5], 1, 2, 6, 7]

In [28]:
# It is reference
# Use id funcition to examine the memory address
id(a)

85252424

In [29]:
id(x[0])

85252424

In [30]:
# If I change a, the element in x will change as well.
# It show the element a in x is connected as global a
a[0] = 3
x

[[3], 1, 2, 6, 7]

In [31]:
# If I directly assign value to a, it will break the connection
a = 5
x

[[3], 1, 2, 6, 7]

In [32]:
id(a)

1577240320

In [33]:
id(x[0])

85252424

## b. Tuple

In [34]:
# Similar to list but it is immutable.
# Index work the same way, but cannot replace, remove, add
(1, 2, 3, "two", "yes")

(1, 2, 3, 'two', 'yes')

In [35]:
# Change between list and tuple
x = [1, 2, 3, 4]
tuple(x)

(1, 2, 3, 4)

In [36]:
x = (1, 2, 3, 4)
list(x)

[1, 2, 3, 4]

In [37]:
# The connection of element happens in Tuple too
a = [5]
x = (a, 1, 2, 3)
x

([5], 1, 2, 3)

In [38]:
a[0] = 1
x

([1], 1, 2, 3)

## c. String

In [39]:
x = "Hi, I am Jason."
# Index work the same way as list
x[0:2]

'Hi'

In [40]:
x[-6:-1]

'Jason'

### Method: split

In [41]:
# Seperate by space
x.split()

['Hi,', 'I', 'am', 'Jason.']

In [42]:
# Seperate by comma
x.split(",")

['Hi', ' I am Jason.']

In [43]:
# Split by charater
"banana".split("a")

['b', 'n', 'n', '']

In [44]:
# Specifies how many split you want
"banana".split("a", 1)

['b', 'nana']

In [45]:
"banana".split("a", 2)

['b', 'n', 'na']

###  Method: join

In [46]:
# Combine the string with specific words
"&".join(["Jason", "Oracle", "Sanly"])

'Jason&Oracle&Sanly'

In [47]:
"".join(["nothing", "lol"])

'nothinglol'

### Method: strip

In [48]:
# Useful function to get rid of whitespace(I think this can be replaced by using Regular expression)
x = "  Hello    World\t "
print(x)

  Hello    World

In [49]:
# Remove the space on both side
# Actually tab will be removed as well
x.strip()

'Hello    World'

In [50]:
# Remove the space on the left
x.lstrip()

'Hello    World\t '

In [51]:
# Remove the space on the right
x.rstrip()

'  Hello    World'

In [52]:
import string
# Things that Python treat it as whitespace
string.whitespace

' \t\n\r\x0b\x0c'

In [53]:
# It can be applied to different character
x = "www.python.org"
x.strip("w")

'.python.org'

In [54]:
x.strip("w.org")

'python'

### Method: find, index

In [55]:
x = "Jason"
x.find("a")

1

In [56]:
# Return -1 if nothing matches
x.find("b")

-1

In [57]:
# The two argument is (start, end)
x.find("o", 0, 3)

-1

In [58]:
# No "o" in the x[0:3]
x[0:3]

'Jas'

In [59]:
x.find("o", 0, 4)

3

In [60]:
"banana".find("a")

1

In [61]:
# Search from the end of the string
"banana".rfind("a")

5

### Method: count

In [62]:
"banana".count("a")

3

### Method: startswith, endswith

In [63]:
x = "Mississippi"
x.startswith("Miss")

True

In [64]:
x.endswith("p")

False

### Method: upper lower

In [65]:
"Hello".upper()

'HELLO'

In [66]:
"WORLD".lower()

'world'

In [67]:
"hello".islower()

True

In [68]:
"WORLD".isupper()

True

### Method: digit, alpha

In [69]:
"123".isdigit()

True

In [70]:
"abc1".isalpha()

False

In [71]:
"abc".isalpha()

True

### Method: replace

In [72]:
# Replace function
x.replace("I am Jason.", "Oracle and Sanly!")

'Mississippi'

In [73]:
# re package (working with string)
import re
regexpr = re.compile("[ ]")
regexpr.sub(" lol ", x)

'Mississippi'

In [74]:
# Regular expression cut example
dog = "My dog, BlackDOG is black dog. Sanly's Dog is not a doG. Oracle is a dOg."
regexpr = re.compile("dog")
regexpr.sub("cat", dog)

"My cat, BlackDOG is black cat. Sanly's Dog is not a doG. Oracle is a dOg."

In [75]:
# "|" represent or
regexpr = re.compile("dog|Dog|dOg")
regexpr.sub("cat", dog)

"My cat, BlackDOG is black cat. Sanly's cat is not a doG. Oracle is a cat."

In [76]:
# Print
tw = "Sunny"
wg = 70
print("Jason weights", wg, "kg", "Today is ", tw , "day")

Jason weights 70 kg Today is  Sunny day

In [77]:
# Another example
e = 2.718
print("the value of %s is: %.2f" % ("e", e))

the value of e is: 2.72

In [78]:
# Change list into String
str([1, 2, 3])

'[1, 2, 3]'

### Format

In [79]:
"Hi! {0}, {1}, {2}".format("Jason", "Sanly", "Oracle")

'Hi! Jason, Sanly, Oracle'

In [80]:
"What is your name? {name[0]}".format(name=["Sanly", "Jason", "Oracle"])

'What is your name? Sanly'

In [81]:
# Sometimes, you will see string as below
# This is the old usage, so try to use the previous
"%s is the %s of %s" % ("Ambrosia", "food", "the gods")

'Ambrosia is the food of the gods'

## d. Dictionary

In [82]:
# Dicitionary
y = {}
y[0] = "Hello"
y[1] = "World"
print(y[0], y[1])

Hello World

In [83]:
y

{0: 'Hello', 1: 'World'}

In [84]:
y["Two"] = 2
y["pi"] = 3.14
y

{0: 'Hello', 1: 'World', 'pi': 3.14, 'Two': 2}

In [85]:
y["Two"] * y["pi"]

6.28

### Method: len

In [86]:
# How many entries in the dictionary
len(y)

4

In [87]:
# Transform it into list
list(y.items())

[(0, 'Hello'), (1, 'World'), ('pi', 3.14), ('Two', 2)]

In [88]:
y.keys()

dict_keys([0, 1, 'pi', 'Two'])

In [89]:
y.values()

dict_values(['Hello', 'World', 3.14, 2])

In [90]:
del y[0]
len(y)

3

In [91]:
"Two" in y

True

In [92]:
y.get(1, "not available")

'World'

In [93]:
# If it cannot find key 4, it will return "not available"
y.get(4, "not available")

'not available'

### Memory address

In [94]:
x = y
# Use id to examine it again
id(y) == id(x)

True

In [95]:
a = [2, 1]
x["Yes"] = a
x

{'Yes': [2, 1], 1: 'World', 'pi': 3.14, 'Two': 2}

In [96]:
# It changes the y automatically
# because now their address(pointer) are the same thing
y

{'Yes': [2, 1], 1: 'World', 'pi': 3.14, 'Two': 2}

In [97]:
# Use copy(It will only copy the 1 layer)
x = y.copy()
x

{'Two': 2, 'Yes': [2, 1], 'pi': 3.14, 1: 'World'}

In [98]:
id(y) == id(x)

False

In [99]:
# However, its element is still point to the same address
id(y['Yes']) == id(x['Yes'])

True

In [100]:
# So if we do the same thing as before, it will show the same result
a[0] = 1
y

{'Yes': [1, 1], 1: 'World', 'pi': 3.14, 'Two': 2}

In [101]:
x

{'Two': 2, 'Yes': [1, 1], 'pi': 3.14, 1: 'World'}

In [102]:
# Use deep copy
from copy import deepcopy
x = deepcopy(y)
id(y) == id(x)

False

In [103]:
#Now it will totally change the adress
id(y['Yes']) == id(x['Yes'])

False

In [104]:
# Whether they are totally the same(address also the same)
y['Yes'] is x['Yes']

False

In [105]:
x['Yes']

[1, 1]

In [106]:
y['Yes']

[1, 1]

In [107]:
# Whether the value is equal 
x['Yes'] == y['Yes']

True

### Word Count

In [108]:
# Word Count
mystring = '''Peter Piper picked a peck of pickled peppers A peck of pickled peppers Peter Piper picked 
If Peter Piper picked a peck of pickled peppers Where's the peck of pickled peppers Peter Piper picked'''
occurrences = {}

for word in mystring.split():
    occurrences[word] = occurrences.get(word, 0) + 1
    
for word in occurrences:
    print('The word', word, 'occur', occurrences.get(word), 'times in my string.')

The word a occur 2 times in my string.
The word If occur 1 times in my string.
The word Piper occur 4 times in my string.
The word of occur 4 times in my string.
The word picked occur 4 times in my string.
The word the occur 1 times in my string.
The word peppers occur 4 times in my string.
The word pickled occur 4 times in my string.
The word peck occur 4 times in my string.
The word Peter occur 4 times in my string.
The word A occur 1 times in my string.
The word Where's occur 1 times in my string.

### Sparse matrix expression

\begin{bmatrix}
3 & 0 & -2 & 11\\ 
0 & 9 & 0 & 0\\ 
0 & 7 & 0 & 0\\ 
0 & 0 & 0 & -5\\ 
\end{bmatrix}

In [109]:
matrix = [[3, 0, -2, 11], [0, 9, 0, 0], [0, 7, 0, 0], [0, 0, 0, -5]]

In [110]:
# element = matrix[rownum][colnum]
matrix = {(0, 0): 3, (0, 2): -2, (0, 3): 11, (1, 1): 9, (2, 1): 7, (3, 3): -5}

## e. Set

In [111]:
# It will remove the repeated or duplicate number as the definition of set
x = set([1, 2, 3, 1, 3, 5])
x

{1, 2, 3, 5}

In [112]:
1 in x

True

In [113]:
4 in x

False

## f. File objects

In [114]:
# It will create a txt file in your current directory
f = open("my.txt", "w")
f.write("First line with necessary newline character\n")
f.write("Second line to write to the file\n")
f.close()

In [115]:
f = open("my.txt", "r")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, line2)

First line with necessary newline character
 Second line to write to the file