# 1. Operations

In [64]:
# Exponential
2 ** 10

1024

In [65]:
# Modulus
16 % 3

1

In [66]:
# Quotient
16 // 5

3

# 2. Data Type

* Integer

In [67]:
# The integer can be as large as you want.
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

* Complex

In [68]:
# Complex Number
x = 5 + 2j
x

(5+2j)

In [69]:
x.real

5.0

In [70]:
x.imag

2.0

* Boolean/Logical

In [71]:
x = True
not x

False

In [72]:
True or False

True

In [73]:
True and False

False

# 3. Data Structure

* List

In [74]:
# Its element can be integer, float, string... Also without any restriction
["two", [1, 2, 3, 4], (5, 6)]

['two', [1, 2, 3, 4], (5, 6)]

In [75]:
# Index
x = ["First", "Second", "Third", "Fourth"]

x[0]

'First'

In [76]:
x[1]

'Second'

In [77]:
x[-1]

'Fourth'

In [78]:
x[1:-1]

['Second', 'Third']

In [79]:
# x[m:n]: m is the inclusive starting point and n is the exclusive ending point
x[:3]

['First', 'Second', 'Third']

In [80]:
# Add, remove, replace...
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [81]:
x[0] = "two"
x

['two', 2, 3, 4, 5]

In [82]:
x[4:5] = [1, 2, 3, 4]
x

['two', 2, 3, 4, 1, 2, 3, 4]

Method: len

In [83]:
# Function: len, reverse
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(x)

9

Method: reverse

In [84]:
x.reverse()
x

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [85]:
# + and *
x.reverse()
# append 10, 11 to the last
x + [10, 11]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [86]:
# repeat the list twice
x * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
# You can use type to check the data type or structure of an object
type(x)

list

Method: sort

In [88]:
# Useful function sort
x = ["First", "Second", "Third", "Fourth"]

# Ordered by alphabetically
x.sort()
x

['First', 'Fourth', 'Second', 'Third']

In [89]:
# sort by function, by argument "key=fun"
x.sort(key=len)
x

['First', 'Third', 'Fourth', 'Second']

In [90]:
# Things should notice
a = [5]
x = [a, 1, 2, 6, 7]
x

[[5], 1, 2, 6, 7]

In [91]:
# If I change a, the element in x will change as well.
# It show the element a in x is connected as global a
a[0] = 3
x

[[3], 1, 2, 6, 7]

In [92]:
# If I directly assign value to a, it will break the connection
a = 5
x

[[3], 1, 2, 6, 7]

* Tuple

In [93]:
# Similar to list but it is immutable.
# Index work the same way, but cannot replace, remove, add
(1, 2, 3, "two", "yes")

(1, 2, 3, 'two', 'yes')

In [94]:
# Change between list and tuple
x = [1, 2, 3, 4]
tuple(x)

(1, 2, 3, 4)

In [95]:
x = (1, 2, 3, 4)
list(x)

[1, 2, 3, 4]

In [96]:
# The connection of element happens in Tuple too
a = [5]
x = (a, 1, 2, 3)
x

([5], 1, 2, 3)

In [97]:
a[0] = 1
x

([1], 1, 2, 3)

* String

In [98]:
x = "Hi, I am Jason."
# Index work the same way as list
x[0:2]

'Hi'

In [99]:
x[-6:-1]

'Jason'

Method: split

In [100]:
# Seperate by space
x.split()

['Hi,', 'I', 'am', 'Jason.']

In [101]:
# Seperate by comma
x.split(",")

['Hi', ' I am Jason.']

In [102]:
# Split by charater
"banana".split("a")

['b', 'n', 'n', '']

In [103]:
# Specifies how many split you want
"banana".split("a", 1)

['b', 'nana']

In [104]:
"banana".split("a", 2)

['b', 'n', 'na']

Method: join

In [105]:
# Combine the string with specific words
"&".join(["Jason", "Oracle", "Sanly"])

'Jason&Oracle&Sanly'

In [106]:
"".join(["nothing", "lol"])

'nothinglol'

Method: strip

In [107]:
# Useful function to get rid of whitespace(I think this can be replaced by using Regular expression)
x = "  Hello    World\t "
print(x)

  Hello    World

In [108]:
# Remove the space on both side
# Actually tab will be removed as well
x.strip()

'Hello    World'

In [109]:
# Remove the space on the left
x.lstrip()

'Hello    World\t '

In [110]:
# Remove the space on the right
x.rstrip()

'  Hello    World'

In [111]:
import string
# Things that Python treat it as whitespace
string.whitespace

' \t\n\r\x0b\x0c'

In [112]:
# It can be applied to different character
x = "www.python.org"
x.strip("w")

'.python.org'

In [113]:
x.strip("w.org")

'python'

Method: find, index

In [114]:
x = "Jason"
x.find("a")

1

In [115]:
# Return -1 if nothing matches
x.find("b")

-1

In [116]:
# The two argument is (start, end)
x.find("o", 0, 3)

-1

In [117]:
# No "o" in the x[0:3]
x[0:3]

'Jas'

In [118]:
x.find("o", 0, 4)

3

In [119]:
"banana".find("a")

1

In [120]:
# Search from the end of the string
"banana".rfind("a")

5

Method: count

In [121]:
"banana".count("a")

3

Method: startswith, endswith

In [122]:
x = "Mississippi"
x.startswith("Miss")

True

In [123]:
x.endswith("p")

False

Method: upper lower

In [124]:
"Hello".upper()

'HELLO'

In [125]:
"WORLD".lower()

'world'

In [126]:
"hello".islower()

True

In [127]:
"WORLD".isupper()

True

Method: digit, alpha

In [128]:
"123".isdigit()

True

In [129]:
"abc1".isalpha()

False

In [130]:
"abc".isalpha()

True

Method: replace

In [131]:
# Replace function
x.replace("I am Jason.", "Oracle and Sanly!")

'Mississippi'

In [132]:
# re package (working with string)
import re
regexpr = re.compile("[ ]")
regexpr.sub(" lol ", x)

'Mississippi'

In [133]:
# Regular expression cut example
dog = "My dog, BlackDOG is black dog. Sanly's Dog is not a doG. Oracle is a dOg."
regexpr = re.compile("dog")
regexpr.sub("cat", dog)

"My cat, BlackDOG is black cat. Sanly's Dog is not a doG. Oracle is a dOg."

In [134]:
# "|" represent or
regexpr = re.compile("dog|Dog|dOg")
regexpr.sub("cat", dog)

"My cat, BlackDOG is black cat. Sanly's cat is not a doG. Oracle is a cat."

In [135]:
# Print
tw = "Sunny"
wg = 70
print("Jason weights", wg, "kg", "Today is ", tw , "day")

Jason weights 70 kg Today is  Sunny day

In [136]:
# Another example
e = 2.718
print("the value of %s is: %.2f" % ("e", e))

the value of e is: 2.72

* Dictionary

In [137]:
x = {1: "one", 2: "two"}
x["first"] = "one"
x

{1: 'one', 2: 'two', 'first': 'one'}

In [138]:
x[("Delorme", "Ryan", 1995)] = (1, 2, 3)
x

{1: 'one', 2: 'two', ('Delorme', 'Ryan', 1995): (1, 2, 3), 'first': 'one'}

In [139]:
x.keys()

dict_keys([1, 2, ('Delorme', 'Ryan', 1995), 'first'])

In [140]:
x.values()

dict_values(['one', 'two', (1, 2, 3), 'one'])

In [141]:
x.get(1, "not available")

'one'

In [142]:
# If it cannot find key 4, it will return "not available"
x.get(4, "not available")

'not available'

* Set

In [143]:
# It will remove the repeated or duplicate number as the definition of set
x = set([1, 2, 3, 1, 3, 5])
x

{1, 2, 3, 5}

In [144]:
1 in x

True

In [145]:
4 in x

False

* File objects

In [146]:
# It will create a txt file in your current directory
f = open("my.txt", "w")
f.write("First line with necessary newline character\n")
f.write("Second line to write to the file\n")
f.close()

In [147]:
f = open("my.txt", "r")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, line2)

First line with necessary newline character
 Second line to write to the file