# 1. Operations

In [8]:
# Exponential
2 ** 10

1024

In [9]:
# Modulus
16 % 3

1

In [10]:
# Quotient
16 // 5

3

# 2. Data Type

* Integer

In [11]:
# The integer can be as large as you want.
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

* Complex

In [12]:
# Complex Number
x = 5 + 2j
x

(5+2j)

In [13]:
x.real

5.0

In [14]:
x.imag

2.0

* Boolean/Logical

In [15]:
x = True
not x

False

In [16]:
True or False

True

In [17]:
True and False

False

# 3. Data Structure

* List

In [18]:
# Its element can be integer, float, string... Also without any restriction
["two", [1, 2, 3, 4], (5, 6)]

['two', [1, 2, 3, 4], (5, 6)]

In [19]:
# Index
x = ["First", "Second", "Third", "Fourth"]

x[0]

'First'

In [20]:
x[1]

'Second'

In [21]:
x[-1]

'Fourth'

In [22]:
x[1:-1]

['Second', 'Third']

In [23]:
# x[m:n]: m is the inclusive starting point and n is the exclusive ending point
x[:3]

['First', 'Second', 'Third']

In [24]:
# Add, remove, replace...
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [25]:
x[0] = "two"
x

['two', 2, 3, 4, 5]

In [26]:
x[4:5] = [1, 2, 3, 4]
x

['two', 2, 3, 4, 1, 2, 3, 4]

In [27]:
# Function: len, reverse
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(x)

9

In [28]:
x.reverse()
x

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
# + and *
x.reverse()
# append 10, 11 to the last
x + [10, 11]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [30]:
# repeat the list twice
x * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# You can use type to check the data type or structure of an object
type(x)

list

* Tuple

In [32]:
# Similar to list but it is immutable.
# Index work the same way, but cannot replace, remove, add
(1, 2, 3, "two", "yes")

(1, 2, 3, 'two', 'yes')

In [33]:
# Change between list and tuple
x = [1, 2, 3, 4]
tuple(x)

(1, 2, 3, 4)

In [34]:
x = (1, 2, 3, 4)
list(x)

[1, 2, 3, 4]

* String

In [35]:
x = "Hi, I am Jason."
# Index work the same way as list
x[0:2]

'Hi'

In [36]:
x[-6:-1]

'Jason'

In [37]:
# Seperate by space
x.split()

['Hi,', 'I', 'am', 'Jason.']

In [38]:
# Seperate by comma
x.split(",")

['Hi', ' I am Jason.']

In [39]:
# Replace function
x.replace("I am Jason.", "Oracle and Sanly!")

'Hi, Oracle and Sanly!'

In [40]:
# re package (working with string)
import re
regexpr = re.compile("[ ]")
regexpr.sub(" lol ", x)

'Hi, lol I lol am lol Jason.'

In [41]:
# Regular expression cut example
dog = "My dog, BlackDOG is black dog. Sanly's Dog is not a doG. Oracle is a dOg."
regexpr = re.compile("dog")
regexpr.sub("cat", dog)

"My cat, BlackDOG is black cat. Sanly's Dog is not a doG. Oracle is a dOg."

In [42]:
# "|" represent or
regexpr = re.compile("dog|Dog|dOg")
regexpr.sub("cat", dog)

"My cat, BlackDOG is black cat. Sanly's cat is not a doG. Oracle is a cat."

In [43]:
# Print
tw = "Sunny"
wg = 70
print("Jason weights", wg, "kg", "Today is ", tw , "day")

Jason weights 70 kg Today is  Sunny day

In [44]:
# Another example
e = 2.718
print("the value of %s is: %.2f" % ("e", e))

the value of e is: 2.72

* Dictionary

In [45]:
x = {1: "one", 2: "two"}
x["first"] = "one"
x

{1: 'one', 2: 'two', 'first': 'one'}

In [46]:
x[("Delorme", "Ryan", 1995)] = (1, 2, 3)
x

{1: 'one', 2: 'two', 'first': 'one', ('Delorme', 'Ryan', 1995): (1, 2, 3)}

In [47]:
x.keys()

dict_keys([1, 2, 'first', ('Delorme', 'Ryan', 1995)])

In [48]:
x.values()

dict_values(['one', 'two', 'one', (1, 2, 3)])

In [49]:
x.get(1, "not available")

'one'

In [50]:
# If it cannot find key 4, it will return "not available"
x.get(4, "not available")

'not available'

* Set

In [51]:
# It will remove the repeated or duplicate number as the definition of set
x = set([1, 2, 3, 1, 3, 5])
x

{1, 2, 3, 5}

In [52]:
1 in x

True

In [53]:
4 in x

False

* File objects

In [54]:
# It will create a txt file in your current directory
f = open("my.txt", "w")
f.write("First line with necessary newline character\n")
f.write("Second line to write to the file\n")
f.close()

In [55]:
f = open("my.txt", "r")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, line2)

First line with necessary newline character
 Second line to write to the file